In [6]:
import pandas as pd
import numpy as np
import traceback

from esa_snappy import ProductIO
from esa_snappy import GeoPos
from esa_snappy import PixelPos

from glob import glob
from tqdm import tqdm
import os
import pickle

import matplotlib.pyplot as plt
import seaborn as sns

In [7]:

def check_image(mgrs):
    processed_mosaic = os.listdir("/data/ksa/01_Image_Acquisition/02_Processed_mosaic/")
    if(mgrs in processed_mosaic):
        return True
    else: 
        return False

def get_gc(path_to_sentinel_data):
    # path_to_sentinel_data = "/data/ksa/01_Image_Acquisition/02_Processed_mosaic/48MXU/20230501_20230512.dim"
    product_subset = ProductIO.readProduct(path_to_sentinel_data)
    gc = product_subset.getSceneGeoCoding()
    bands_names = list(product_subset.getBandNames())
    return product_subset,gc,bands_names

def get_values(gc, bands_names, lat, long):
    pixel_pos = gc.getPixelPos(GeoPos(lat, long), None)
    data = list()
    for i, band_name in enumerate(bands_names):
        temp_band = product_subset.getBand(band_name)
        width, height = temp_band.getRasterWidth(), temp_band.getRasterHeight()
        try:
            tmp = np.zeros(1)
            temp_band.readPixels(int(pixel_pos.x), int(pixel_pos.y), 1, 1, tmp)
            data.append(tmp[0])
            data_values = [float(val) for val in data]
        except Exception as e:
            print(band_name)
            print(width, height)
            print(int(pixel_pos.x), int(pixel_pos.y))
            print(e)
            traceback.print_exc()
    return data_values

# data_values
def get_value(gc, lat, long):    
    
    data = list()
    pixel_pos = gc.getPixelPos(GeoPos(lat, lon), None)
    data.append(lat).append(lon).append(int(pixel_pos.x)).append(int(pixel_pos.y))

    for i, band_name in enumerate(bands_names):
        temp_band = product_subset.getBand(band_name)
        width, height = temp_band.getRasterWidth(), temp_band.getRasterHeight()
        try:
            tmp = np.zeros(1)
            temp_band.readPixels(int(pixel_pos.x), int(pixel_pos.y), 1, 1, tmp)
            data.append(tmp[0])
        except Exception as e:
            print(band_name)
            print(width, height)
            print(int(pixel_pos.x), int(pixel_pos.y))
            print(e)
            traceback.print_exc()
    return data

In [5]:
# source : https://forum.step.esa.int/t/extracting-pixel-values-sentinel-2a-l2a-with-snap-or-snappy/29878/3

In [47]:
df_ksa = pd.read_csv("/data/raw/processed/cloned_points.csv")
df_ksa.iloc[:1000].to_csv("cek.csv")

In [51]:

df_ksa = pd.read_csv("/data/raw/processed/generated_points_unstable.csv")
df_ksa['idprov'] = df_ksa.idsegmen.astype('str').str[:2]
df_ksa['idkab'] = df_ksa.idsegmen.astype('str').str[:4]

df_ksa['index'] = [x.zfill(2) for x in df_ksa['index'].astype("str")]
df_ksa['idpoint'] = df_ksa.idsegmen.astype('str') + df_ksa.idsubsegmen.astype('str') + '#' + df_ksa['index']
df_ksa.head()

,Unnamed: 0,iterx,itery,lat,long,index,idsegmen,idsubsegmen,Strata,Tahun,Bulan,Nilai Amatan,EASTING,NORTHING,100kmSQ_ID,GZD,MGRS,idprov,idkab,idpoint
0,0,1,1,-6.655293,106.548792,01,320101006,a1,S2,2022,4,4.0,600000mE,9200000mN,XT,48M,48MXT,32,3201,320101006a1#01
1,1,1,2,-6.655472,106.548792,02,320101006,a1,S2,2022,4,4.0,600000mE,9200000mN,XT,48M,48MXT,32,3201,320101006a1#02
2,2,1,3,-6.655650,106.548792,03,320101006,a1,S2,2022,4,4.0,600000mE,9200000mN,XT,48M,48MXT,32,3201,320101006a1#03
3,3,1,4,-6.655829,106.548792,04,320101006,a1,S2,2022,4,4.0,600000mE,9200000mN,XT,48M,48MXT,32,3201,320101006a1#04
4,4,1,5,-6.656007,106.548792,05,320101006,a1,S2,2022,4,4.0,600000mE,9200000mN,XT,48M,48MXT,32,3201,320101006a1#05

In [52]:
# Filter only prov Jabar
df_ksa = df_ksa.query('idkab == "3203"')
df_ksa

,Unnamed: 0,iterx,itery,lat,long,index,idsegmen,idsubsegmen,Strata,Tahun,Bulan,Nilai Amatan,EASTING,NORTHING,100kmSQ_ID,GZD,MGRS,idprov,idkab,idpoint
88875,7725,1,1,-7.426855,106.961708,01,320301001,a1,S1,2022,4,2.0,700000mE,9100000mN,YS,48M,48MYS,32,3203,320301001a1#01
88876,7726,1,2,-7.427034,106.961708,02,320301001,a1,S1,2022,4,2.0,700000mE,9100000mN,YS,48M,48MYS,32,3203,320301001a1#02
88877,7727,1,3,-7.427212,106.961708,03,320301001,a1,S1,2022,4,2.0,700000mE,9100000mN,YS,48M,48MYS,32,3203,320301001a1#03
88878,7728,1,4,-7.427390,106.961708,04,320301001,a1,S1,2022,4,2.0,700000mE,9100000mN,YS,48M,48MYS,32,3203,320301001a1#04
88879,7729,1,5,-7.427568,106.961708,05,320301001,a1,S1,2022,4,2.0,700000mE,9100000mN,YS,48M,48MYS,32,3203,320301001a1#05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6326595,1970,5,1,-6.716911,107.221704,21,320324012,c3,S2,2023,3,1.0,700000mE,9200000mN,YT,48M,48MYT,32,3203,320324012c3#21
6326596,1971,5,2,-6.717090,107.221704,22,320324012,c3,S2,2023,3,1.0,700000mE,9200000mN,YT,48M,48MYT,32,3203,320324012c3#22
6326597,1972,5,3,-6.717268,107.221704,23,320324012,c3,S2,2023,3,1.0,700000mE,9200000mN,YT,48M,48MYT,32,3203,320324012c3#23
6326598,1973,5,4,-6.717447,107.221704,24,320324012,c3,S2,2023,3,1.0,700000mE,9200000mN,YT,48M,48MYT,32,3203,320324012c3#24
6326599,1974,5,5,-6.717625,107.221704,25,320324012,c3,S2,2023,3,1.0,700000mE,9200000mN,YT,48M,48MYT,32,3203,320324012c3#25

In [54]:
mgrs_all_ = list(df_ksa.MGRS.unique())
# mgrs_all_ = ['48MYU'] + mgrs_all_
mgrs_all_

['48MYS', '48MXS', '48MYT']

In [ ]:
for mgrs in mgrs_all_:
    df_result = pd.DataFrame()
    if(check_image(mgrs)):
        print(mgrs + " available")
        path_to_mgrs = "/data/ksa/01_Image_Acquisition/02_Processed_mosaic/"+mgrs+"/"
        all_sentinel_data = glob(path_to_mgrs+"*.dim")
        df_ksa_mgrs = df_ksa.loc[df_ksa.MGRS == mgrs]
        for sent in tqdm(all_sentinel_data):
            path_to_sentinel_data = sent
            periode = path_to_sentinel_data[-21:-4]
            product_subset,gc,bands_names = get_gc(path_to_sentinel_data)
            df_ksa_mgrs_tmp = df_ksa_mgrs.copy()
            df_ksa_mgrs_tmp = df_ksa_mgrs_tmp.reset_index(drop=True)
            df_ksa_mgrs_tmp.loc[:, bands_names] = 0.0
            df_ksa_mgrs_tmp.loc[:, 'periode'] =periode  
            # print(bands_names)
            for i,r in df_ksa_mgrs_tmp.iterrows():
                val = get_values(gc, bands_names, r['lat'], r['long'])
                df_ksa_mgrs_tmp.loc[i,bands_names] = val
                # break
            # break
            df_result = pd.concat([df_result,df_ksa_mgrs_tmp])

        df_result = df_result[['idpoint','MGRS','Sigma0_VH_db','Sigma0_VV_db','periode']]
        with open('/data/ksa/03_Sampling/data-unstable/3203/sampling_'+mgrs+'.pkl', 'wb') as f:
            pickle.dump(df_result, f)
    else:
        print(mgrs + " not available")
        continue
    # break

48MYS available

  5%|▌         | 3/60 [14:24<4:33:13, 287.61s/it]

In [49]:
df_ksa_mgrs_tmp

,iterx,itery,lat,long,index,idsegmen,strati,idsubsegmen,EASTING,NORTHING,100kmSQ_ID,GZD,MGRS,Sigma0_VH_db,Sigma0_VH_db_count,Sigma0_VV_db,Sigma0_VV_db_count,periode
0,1,1,-7.271265,106.501939,1,320201009,S2,A1,600000mE,9100000mN,XS,48M,48MXS,-15.691831,2.0,-6.419095,2.0,20211004_20211015
1,1,2,-7.271443,106.501939,2,320201009,S2,A1,600000mE,9100000mN,XS,48M,48MXS,-14.519646,2.0,-6.010841,2.0,20211004_20211015
2,1,3,-7.271622,106.501939,3,320201009,S2,A1,600000mE,9100000mN,XS,48M,48MXS,-13.447437,2.0,-4.246917,2.0,20211004_20211015
3,1,4,-7.271800,106.501939,4,320201009,S2,A1,600000mE,9100000mN,XS,48M,48MXS,-14.463644,2.0,-2.521175,2.0,20211004_20211015
4,1,5,-7.271978,106.501939,5,320201009,S2,A1,600000mE,9100000mN,XS,48M,48MXS,-15.472513,2.0,-5.562154,2.0,20211004_20211015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11845,5,1,-7.405364,106.676103,21,320206042,S1,C3,600000mE,9100000mN,XS,48M,48MXS,-15.864298,2.0,-8.276253,2.0,20211004_20211015
11846,5,2,-7.405542,106.676103,22,320206042,S1,C3,600000mE,9100000mN,XS,48M,48MXS,-16.661190,2.0,-8.711188,2.0,20211004_20211015
11847,5,3,-7.405720,106.676103,23,320206042,S1,C3,600000mE,9100000mN,XS,48M,48MXS,-15.933043,2.0,-6.057774,2.0,20211004_20211015
11848,5,4,-7.405898,106.676103,24,320206042,S1,C3,600000mE,9100000mN,XS,48M,48MXS,-15.184011,2.0,-5.916047,2.0,20211004_20211015
11849,5,5,-7.406076,106.676103,25,320206042,S1,C3,600000mE,9100000mN,XS,48M,48MXS,-16.992903,2.0,-7.813799,2.0,20211004_20211015

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Assuming df_ is your DataFrame
filtered_df = df_.query('idpoint == "321201001A1#02"').sort_values('periode')

plt.figure(figsize=(10, 6))
plt.plot(filtered_df['periode'], filtered_df['Sigma0_VH_db'], marker='o')

plt.title('Sigma0_VH_db over Time for idpoint "321201003B2#13"')
plt.xlabel('Periode')
plt.ylabel('Sigma0_VH_db')
plt.grid(True)
plt.xticks(rotation=45)  # Rotate x-axis labels if needed

plt.tight_layout()
plt.show()

In [ ]:
mgrs = '48MZT'
with open('/data/ksa/03_Sampling/data/32/sampling_'+mgrs+'.pkl', 'rb') as f:
    df_ = pickle.load(f)
# df_.to_csv("cek_"+mgrs+'.csv')