In [1]:
import pandas as pd
import numpy as np
import traceback

from esa_snappy import ProductIO
from esa_snappy import GeoPos
from esa_snappy import PixelPos

from glob import glob
from tqdm import tqdm
import os
import pickle

import matplotlib.pyplot as plt
import seaborn as sns

WARNING: org.esa.snap.core.util.ServiceLoader: org.esa.snap.core.gpf.OperatorSpi: Provider eu.esa.opt.meris.sdr.aerosol.AerosolMergerOp$Spi not found
WARNING: org.esa.snap.core.util.ServiceLoader: org.esa.snap.core.gpf.OperatorSpi: Provider eu.esa.opt.meris.sdr.aerosol.ModisAerosolOp$Spi not found
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.esa.snap.runtime.Engine (file:/opt/esa-snap/snap/modules/ext/org.esa.snap.snap-jp2-reader/org-esa-snap/snap-runtime.jar) to method java.lang.ClassLoader.initializePath(java.lang.String)
WARNING: Please consider reporting this to the maintainers of org.esa.snap.runtime.Engine
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
INFO: org.esa.snap.core.gpf.operators.tooladapter.ToolAdapterIO: Initializing external tool adapters
INFO: org.esa.snap.core.util.EngineVersionCheckActivator: Please check regularly for new updates for the best SNAP experience.

In [2]:

def check_image(mgrs):
    processed_mosaic = os.listdir("/data/ksa/01_Image_Acquisition/02_Processed_mosaic/")
    if(mgrs in processed_mosaic):
        return True
    else: 
        return False

def get_gc(path_to_sentinel_data):
    # path_to_sentinel_data = "/data/ksa/01_Image_Acquisition/02_Processed_mosaic/48MXU/20230501_20230512.dim"
    product_subset = ProductIO.readProduct(path_to_sentinel_data)
    gc = product_subset.getSceneGeoCoding()
    bands_names = list(product_subset.getBandNames())
    return product_subset,gc,bands_names

def get_values(gc, bands_names, lat, long):
    pixel_pos = gc.getPixelPos(GeoPos(lat, long), None)
    data = list()
    for i, band_name in enumerate(bands_names):
        temp_band = product_subset.getBand(band_name)
        width, height = temp_band.getRasterWidth(), temp_band.getRasterHeight()
        try:
            tmp = np.zeros(1)
            temp_band.readPixels(int(pixel_pos.x), int(pixel_pos.y), 1, 1, tmp)
            data.append(tmp[0])
            data_values = [float(val) for val in data]
        except Exception as e:
            print(band_name)
            print(width, height)
            print(int(pixel_pos.x), int(pixel_pos.y))
            print(e)
            traceback.print_exc()
    return data_values

# data_values
def get_value(gc, lat, long):    
    
    data = list()
    pixel_pos = gc.getPixelPos(GeoPos(lat, lon), None)
    data.append(lat).append(lon).append(int(pixel_pos.x)).append(int(pixel_pos.y))

    for i, band_name in enumerate(bands_names):
        temp_band = product_subset.getBand(band_name)
        width, height = temp_band.getRasterWidth(), temp_band.getRasterHeight()
        try:
            tmp = np.zeros(1)
            temp_band.readPixels(int(pixel_pos.x), int(pixel_pos.y), 1, 1, tmp)
            data.append(tmp[0])
        except Exception as e:
            print(band_name)
            print(width, height)
            print(int(pixel_pos.x), int(pixel_pos.y))
            print(e)
            traceback.print_exc()
    return data

In [3]:
# source : https://forum.step.esa.int/t/extracting-pixel-values-sentinel-2a-l2a-with-snap-or-snappy/29878/3

In [4]:

df_ksa = pd.read_csv("/data/raw/processed/generated_points_unstable.csv")
df_ksa['idprov'] = df_ksa.idsegmen.astype('str').str[:2]
df_ksa['idkab'] = df_ksa.idsegmen.astype('str').str[:4]

df_ksa['index'] = [x.zfill(2) for x in df_ksa['index'].astype("str")]
df_ksa['idpoint'] = df_ksa.idsegmen.astype('str') + df_ksa.idsubsegmen.astype('str') + '#' + df_ksa['index']
df_ksa.head()

,Unnamed: 0,iterx,itery,lat,long,index,idsegmen,idsubsegmen,Strata,Tahun,Bulan,Nilai Amatan,EASTING,NORTHING,100kmSQ_ID,GZD,MGRS,idprov,idkab,idpoint
0,0,1,1,-6.655293,106.548792,01,320101006,a1,S2,2022,4,4.0,600000mE,9200000mN,XT,48M,48MXT,32,3201,320101006a1#01
1,1,1,2,-6.655472,106.548792,02,320101006,a1,S2,2022,4,4.0,600000mE,9200000mN,XT,48M,48MXT,32,3201,320101006a1#02
2,2,1,3,-6.655650,106.548792,03,320101006,a1,S2,2022,4,4.0,600000mE,9200000mN,XT,48M,48MXT,32,3201,320101006a1#03
3,3,1,4,-6.655829,106.548792,04,320101006,a1,S2,2022,4,4.0,600000mE,9200000mN,XT,48M,48MXT,32,3201,320101006a1#04
4,4,1,5,-6.656007,106.548792,05,320101006,a1,S2,2022,4,4.0,600000mE,9200000mN,XT,48M,48MXT,32,3201,320101006a1#05

In [5]:
# Filter only prov Jabar
df_ksa = df_ksa.query('idkab == "3212"')
df_ksa

,Unnamed: 0,iterx,itery,lat,long,index,idsegmen,idsubsegmen,Strata,Tahun,Bulan,Nilai Amatan,EASTING,NORTHING,100kmSQ_ID,GZD,MGRS,idprov,idkab,idpoint
359100,7450,1,1,-6.410441,107.946884,01,321201001,a1,S1,2022,4,4.0,800000mE,9200000mN,ZT,48M,48MZT,32,3212,321201001a1#01
359101,7451,1,2,-6.410619,107.946884,02,321201001,a1,S1,2022,4,4.0,800000mE,9200000mN,ZT,48M,48MZT,32,3212,321201001a1#02
359102,7452,1,3,-6.410798,107.946884,03,321201001,a1,S1,2022,4,4.0,800000mE,9200000mN,ZT,48M,48MZT,32,3212,321201001a1#03
359103,7453,1,4,-6.410977,107.946884,04,321201001,a1,S1,2022,4,4.0,800000mE,9200000mN,ZT,48M,48MZT,32,3212,321201001a1#04
359104,7454,1,5,-6.411155,107.946884,05,321201001,a1,S1,2022,4,4.0,800000mE,9200000mN,ZT,48M,48MZT,32,3212,321201001a1#05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6596895,2270,5,1,-6.333458,107.975989,21,321222114,c3,S1,2023,3,2.0,800000mE,9200000mN,ZT,48M,48MZT,32,3212,321222114c3#21
6596896,2271,5,2,-6.333636,107.975989,22,321222114,c3,S1,2023,3,2.0,800000mE,9200000mN,ZT,48M,48MZT,32,3212,321222114c3#22
6596897,2272,5,3,-6.333815,107.975989,23,321222114,c3,S1,2023,3,2.0,800000mE,9200000mN,ZT,48M,48MZT,32,3212,321222114c3#23
6596898,2273,5,4,-6.333993,107.975989,24,321222114,c3,S1,2023,3,2.0,800000mE,9200000mN,ZT,48M,48MZT,32,3212,321222114c3#24
6596899,2274,5,5,-6.334172,107.975989,25,321222114,c3,S1,2023,3,2.0,800000mE,9200000mN,ZT,48M,48MZT,32,3212,321222114c3#25

In [6]:
mgrs_all_ = list(df_ksa.MGRS.unique())
# mgrs_all_ = ['48MYU'] + mgrs_all_
mgrs_all_

['48MZT', '49MAN', '49MBN', '49MAP', '49MBP', '48MZU']

In [ ]:
for mgrs in mgrs_all_[1:]:
    df_result = pd.DataFrame()
    if(check_image(mgrs)):
        print(mgrs + " available")
        path_to_mgrs = "/data/ksa/01_Image_Acquisition/02_Processed_mosaic/"+mgrs+"/"
        all_sentinel_data = glob(path_to_mgrs+"*.dim")
        df_ksa_mgrs = df_ksa.loc[df_ksa.MGRS == mgrs]
        for sent in tqdm(all_sentinel_data):
            path_to_sentinel_data = sent
            periode = path_to_sentinel_data[-21:-4]
            product_subset,gc,bands_names = get_gc(path_to_sentinel_data)
            df_ksa_mgrs_tmp = df_ksa_mgrs.copy()
            df_ksa_mgrs_tmp = df_ksa_mgrs_tmp.reset_index(drop=True)
            df_ksa_mgrs_tmp.loc[:, bands_names] = 0.0
            df_ksa_mgrs_tmp.loc[:, 'periode'] =periode  
            # print(bands_names)
            for i,r in df_ksa_mgrs_tmp.iterrows():
                val = get_values(gc, bands_names, r['lat'], r['long'])
                df_ksa_mgrs_tmp.loc[i,bands_names] = val
                # break
            # break
            df_result = pd.concat([df_result,df_ksa_mgrs_tmp])

        df_result = df_result[['idpoint','MGRS','Sigma0_VH_db','Sigma0_VV_db','periode']]
        with open('/data/ksa/03_Sampling/data-unstable/3212/sampling_'+mgrs+'.pkl', 'wb') as f:
            pickle.dump(df_result, f)
    else:
        print(mgrs + " not available")
        continue
    # break

49MAN available

100%|██████████| 60/60 [6:59:29<00:00, 419.49s/it]

49MBN available

 39%|███▉      | 22/56 [1:50:35<2:44:44, 290.72s/it]

In [10]:
df_ksa_mgrs_tmp

,Unnamed: 0,iterx,itery,lat,long,index,idsegmen,idsubsegmen,Strata,Tahun,...,GZD,MGRS,idprov,idkab,idpoint,Sigma0_VH_db,Sigma0_VH_db_count,Sigma0_VV_db,Sigma0_VV_db_count,periode
0,7450,1,1,-6.410441,107.946884,01,321201001,a1,S1,2022,...,48M,48MZT,32,3212,321201001a1#01,-16.421820,3.0,-8.803138,3.0,20211004_20211015
1,7451,1,2,-6.410619,107.946884,02,321201001,a1,S1,2022,...,48M,48MZT,32,3212,321201001a1#02,-17.041300,3.0,-10.330106,3.0,20211004_20211015
2,7452,1,3,-6.410798,107.946884,03,321201001,a1,S1,2022,...,48M,48MZT,32,3212,321201001a1#03,-17.629465,3.0,-12.461987,3.0,20211004_20211015
3,7453,1,4,-6.410977,107.946884,04,321201001,a1,S1,2022,...,48M,48MZT,32,3212,321201001a1#04,-18.234053,3.0,-11.785588,3.0,20211004_20211015
4,7454,1,5,-6.411155,107.946884,05,321201001,a1,S1,2022,...,48M,48MZT,32,3212,321201001a1#05,-18.564425,3.0,-10.785240,3.0,20211004_20211015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80895,2270,5,1,-6.333458,107.975989,21,321222114,c3,S1,2023,...,48M,48MZT,32,3212,321222114c3#21,-15.067600,3.0,-9.051711,3.0,20211004_20211015
80896,2271,5,2,-6.333636,107.975989,22,321222114,c3,S1,2023,...,48M,48MZT,32,3212,321222114c3#22,-16.287325,3.0,-9.785824,3.0,20211004_20211015
80897,2272,5,3,-6.333815,107.975989,23,321222114,c3,S1,2023,...,48M,48MZT,32,3212,321222114c3#23,-16.926413,3.0,-11.836617,3.0,20211004_20211015
80898,2273,5,4,-6.333993,107.975989,24,321222114,c3,S1,2023,...,48M,48MZT,32,3212,321222114c3#24,-16.854027,3.0,-11.728767,3.0,20211004_20211015
80899,2274,5,5,-6.334172,107.975989,25,321222114,c3,S1,2023,...,48M,48MZT,32,3212,321222114c3#25,-16.976475,3.0,-11.284633,3.0,20211004_20211015

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Assuming df_ is your DataFrame
filtered_df = df_.query('idpoint == "321201001A1#02"').sort_values('periode')

plt.figure(figsize=(10, 6))
plt.plot(filtered_df['periode'], filtered_df['Sigma0_VH_db'], marker='o')

plt.title('Sigma0_VH_db over Time for idpoint "321201003B2#13"')
plt.xlabel('Periode')
plt.ylabel('Sigma0_VH_db')
plt.grid(True)
plt.xticks(rotation=45)  # Rotate x-axis labels if needed

plt.tight_layout()
plt.show()

In [ ]:
mgrs = '48MZT'
with open('/data/ksa/03_Sampling/data/32/sampling_'+mgrs+'.pkl', 'rb') as f:
    df_ = pickle.load(f)
# df_.to_csv("cek_"+mgrs+'.csv')